
<script type="text/javascript">

  var RADIUS = 3;

  window.onload = update_charts;

  (function() {
    update_charts();
    }).call(this);


  function update_charts() {

      months = [<%= months(logged_in_user_helper.history_start_date.to_datetime, logged_in_user_helper.history_end_date.to_datetime).html_safe %>];
      xs = [<%= all_capacity_xs(logged_in_user_helper.history_start_date.to_datetime, logged_in_user_helper.history_end_date.to_datetime) %> ];
      ys = [<%= all_capacity_ys(logged_in_user_helper.history_start_date.to_datetime, logged_in_user_helper.history_end_date.to_datetime) %> ];
      var average_value = [<%= all_average_capacity(logged_in_user_helper.history_start_date.to_datetime, logged_in_user_helper.history_end_date.to_datetime) %>];


      var c = document.getElementById("capacity_canvas");
      var ctx = c.getContext("2d");

      var x0 = c.width * .1, xright = c.width * .9;
      var y0 = c.height * .9, ytop = c.height * .2;
      var graph_w = xright - x0, graph_h = ytop - y0;

      ctx.fillStyle = "black";
      ctx.strokeStyle = "black";

      ctx.beginPath();
      ctx.moveTo(x0, ytop);
      ctx.lineTo(x0, y0);
      ctx.lineTo(xright, y0);
      ctx.stroke();

      var n1 = 0, flag = false, xpos1, ypos1;
      ctx.textAlign = "center";

      ctx.font = "10px Arial";
      months.forEach (function(m) {
        var xpos = x0 + (n1 + .5) / months.length * graph_w;
        ctx.fillText(m, xpos, y0 + 14);
        n1 += 1;
      })

      ctx.font = "14px Arial";
      ctx.textAlign = "right";
      for (n = 0; n <= 4; n++) {
        var ypos = y0 + n / 4  * graph_h;
        ctx.beginPath();
        ctx.moveTo(x0, ypos);
        // ctx.stroke();
        ctx.lineTo(x0 - 4, ypos);
        ctx.stroke();
        ctx.fillText(n, x0 - 8, ypos + 4);
      }


      n1 = 0;


      xs.forEach (function(x) {
        var xpos = x0 + x * graph_w;
        var ypos = y0 + ys[n1] / 4 * graph_h;


        ctx.beginPath();
        ctx.moveTo(xpos, ypos);
        ctx.arc(xpos, ypos, RADIUS, 0, 2 * Math.PI, false);
        ctx.fillStyle = 'black';
        ctx.strokeStyle = 'black';
        ctx.fill();

        if (flag) {
          ctx.beginPath();
          ctx.moveTo(xpos1, ypos1);
          ctx.lineTo(xpos, ypos);
          ctx.stroke();

        }
        flag = true;
        xpos1 = xpos;
        ypos1 = ypos;
        n1 += 1;

      })


      ctx.font = "20px Arial";
      ctx.textAlign = "left";
      ctx.fillText("Capacity history for xx", c.width * .02, c.height * .06 );
      ctx.font = "10px Arial";
      ctx.fillStyle = "red";
      // ctx.strokeStyle = "red";

      //Draw average

      ypos = y0 + average_value[0] / 4 * graph_h;
      ctx.strokeStyle = "red";
      ctx.beginPath();
      ctx.moveTo(x0 + average_value[1] * graph_w, ypos);
      ctx.lineTo(xright, ypos);
      ctx.stroke();

      ctx.textAlign = "right";
      ctx.fillText("Average", x0 - 6, ypos + 4);

      ctx.textAlign = "left";
      ctx.fillText(average_value[0], xright + 6, ypos + 4 );
    }
</script>
<%= @test %>
<h1>History</h1>

<div class="select_box_wrapper" style="height: 150px; margin-bottom: 20px">
  <h3>Users</h3>
  <div class="select_box_list" style="height: 100px">
    <% @users.each do |user| %>
      <span style="white-space: nowrap;">
        <%= check_box_tag 'check'+ user[:user].id.to_s, 1, true %>
        <%= user[:user].name %>
      </span>
    <% end %>
  </div>
  xx
</div>

<canvas id="capacity_canvas" width="700" height="500" style="border:1px solid #000000; background-color:white; "></canvas>
<%= form_tag root_path, method: "get", id: "selected_history" do %>
<div style ="display: inline-flex; flex-direction: row; align-items: center" >
  Start date
  <%= date_field_tag :start_date, logged_in_user_helper.history_start_date.strftime("%Y-%m-%d"), :class=>"small_button" %>
  End date
  <%= date_field_tag :end_date, logged_in_user_helper.history_end_date.strftime("%Y-%m-%d"), :class=>"small_button"  %>
  <%= submit_tag "Ok", :class=>"small_button"  %>
  <%= select_tag :auto_history, options_for_select(["Last year", "Last six months", "Last three months", "Last month", "Last financial year"], ""),  { :include_blank => "Select" , :class => "small_button", :style =>"background: lightgray", :onchange => "selected_history.submit();"} %>
</div>
<% end %>
