This is the partner homepage
<script type="text/javascript">

  function send_email() {
    var emails, checkboxes,stg;
    emails = <%= @emails.html_safe %>;
    checkboxes = <%= @checkboxes %>;
    stg = "";
    n = 0;
    alert("test");
    checkboxes.forEach (function(user_id) {
      if (document.getElementById("checkbox" + user_id).checked)
      {
        stg += emails[n] + "; ";
      }
      n += 1;
    })
    window.open("mailto:" + stg );
  }



</script>

<button onclick="send_email();">Send email</button>

<h2>Non absent users</h2>

<table width="80%" >
  <col width="20%">
  <col width="10%">
  <col width="20%">
  <col width="25%">
  <col width="25%">
  <tr style="font-weight: bold">
    <td>
      Name
    </td>
    <td>
      Email
    </td>
    <td>
      Position
    <td>
    </td>
      Capacity
    </td>
    <td>
      Comments
    </td>
  </tr>
  <% @non_absent_users.each do |user| %>
  <tr >
    <td>
      <%= link_to user[:user].name, user_path(user[:user]) %>
    </td>
    <td>
      <input type="checkbox" id="checkbox<%= user[:user].id.to_s %>" name="user"></td>
    <td>
      <%= user[:user].position %>
    </td>
    <td>
      <%= user[:capacity_number] %><% if user[:capacity_number] != 0 %> - <%= Capacitycode.where(:capacity_number => user[:capacity_number]).first.text %><% end %>
      <% if !user[:capacity_log].blank? %>(Last updated <%= user[:capacity_log].created_at.strftime("%d %b %Y")%>)<% end %>

    </td>
    <td>
      <% if !user[:capacity_log].blank? %>
        <%= user[:capacity_log].comment %>
      <% end %>
    </td>

    <% end %>
</table>

<h2>Absent users</h2>

<table width="80%" >
  <col width="20%">
  <col width="10%">
  <col width="20%">
  <col width="25%">
  <col width="25%">
  <tr style="font-weight: bold">
    <td>
      Name
    </td>
    <td>
      Email
    </td>
    <td>
      Position
      <td>
    </td>
      Capacity
    </td>
    <td>
      Comments
    </td>
  </tr>
  <% @absent_users.each do |user| %>
  <tr >
    <td>
      <%= user[:user].name %>
    </td>
    <td>
      <input type="checkbox" id="checkbox<%= user[:user].id.to_s %>" name="user"></td>
    <td>
    <td>
      <%= user[:user].position %>
    </td>
    <td>
      <%= user[:capacity_number] %><% if user[:capacity_number] != 0 %> - <%= Capacitycode.where(:capacity_number => user[:capacity_number]).first.text %><% end %>
      <% if !user[:capacity_log].blank? %>(Last updated <%= user[:capacity_log].created_at.strftime("%d %b %Y")%>)<% end %>

    </td>
    <td>
      <% if !user[:capacity_log].blank? %>
        <%= user[:capacity_log].comment %>
      <% end %>
    </td>

    <% end %>
</table>
