<script type="text/javascript">

  function capacity_text(value) {
    <% Capacitycode.all.each do |code| %>
    if (value==<%= code.capacity_number.to_s%> ){
      document.getElementById("details").innerHTML = "<%= code.text %>";
      document.getElementById("details").style = "color: <%= code.alert ? "red" : "black" %>";
      return true;

    }
    <% end %>
  }

  function set_absent(value) {
    if (value == 1 ){
      document.getElementById("return_date1").style.display = "block";
      document.getElementById("return_date2").style.display = "block";
      } else {
        document.getElementById("return_date1").style.display = "none";
        document.getElementById("return_date2").style.display = "none";
      }
      return true;
    }

    function clear_objective () {
      document.getElementById("objective").innerHTML = "";
    }


</script>

<style>

  .bottom_right {
    position: absolute;
    bottom: 4px;
    right: 4px;
  }

</style>


<% user = logged_in_user_helper %>
<h1>User home page for <%= user.name %></h1>
<h1>You are in <%= user.groups.first.name %></h1>
<% if Capacitylog.where(:user_id => user.id).count > 0 %>
  <% log = Capacitylog.where(:user_id => user.id).order(:created_at).last %>
  <h2 style="color: orange; margin-bottom: 0px";>Current capacity: <%= log.capacity_number.to_s %> - logged at <%= log.created_at.strftime("%e %B %Y at %l:%M%P") %></h2>
<br/><br/>
<% end %>

<div class="select_box_wrapper">
  <h3>New capacity log</h3>

  <%= form_tag new_capacity_log_path(user), method: "post" do %>

    <table width="80%">
      <col width="50%">
      <col width="10%">
      <col width="40%">
      <tr>
        <td>
          <table width="100%">
            <col width="25%">
            <col width="25%">
            <col width="15%">
            <col width="35%">
            <tr>
              <td>
                Absent from office
              </td>
              <td>
                <% absent = (!log.blank? and log.absent) %>
                <%= select_tag :absent, options_for_select([["Absent",1], ["Not absent",0]], (absent ? 1 : 0)), {:class => "small_button", :onchange => "set_absent(this.value);"} %>
              </td>
              <td >
                <div id="return_date1" style="display: <%= absent ? "block" : "none" %>">
                  Return date
              </div>
              </td>
              <td >
                <div id="return_date2" style="display: <%= absent ? "block" : "none" %>">
                  <%= date_field_tag :return_date, (absent) ? log.return_date.strftime("%Y-%m-%d") : Date.today, :class => "small_button"  %>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                Capacity
              </td>
              <td>
                <select name="capacity_number" id="selector" onchange="capacity_text(this.value)" class="small_button" style="width: 70px; text-align-last: right;">
                <option value="">Select</option>
                <% Capacitycode.all.order(:capacity_number).each do |code| %>
                    <option dir="rtl" <%= "style=\"color: red; font-weight: bold\"".html_safe if code.alert %> <%= "selected=\"selected\"".html_safe if log.present? && (log.capacity_number == code.capacity_number) %> value="<%= code.capacity_number.to_s %>"><%= code.capacity_number.to_s %></option>
                <% end %>
              </td>
              </td>
              <td>
                Details
              </td>
              <td>
                <% text, colour = log.text if log.present? %>
                <div id="details" style="color: <%= colour.to_s %>">
                  <%= text.to_s %>
                </div>
              </td>
            </tr>
            <tr>
              <td>
            <%= submit_tag "Submit", :class =>"small_button" %>
              </td>
            </tr>
          </table>
        </td>

        <td>
          Comments=>
        </td>
        <td>
          <%= text_area_tag :text, "", size: "50x8", :class => "small_button1"%>
        </td>
      </tr>
    </table>


  <% end %>
</div>

<table width="100%">
  <col width="33%">
  <col width="67%">
  <tr>
    <td>
      <div class="select_box_wrapper" style="height: 156px; margin-top:4px; margin-left: -8px; ">
        <h3>Objectives / desired work</h3>
        <div style="position: relative">
          <%= form_tag set_objective_path(user), method: "post" do %>
            <%= text_area_tag :text, user.last_objective, size: "50x6", :id => "objective", :style => "width: 98%;", :class => "small_button1"%>
            <div class="bottom_right">
              <button class="small_button" type="button" style="width: 50px; margin-right: 0px" onclick="clear_objective()">Clear</button>
              <%= submit_tag "Submit", :class =>"small_button", :style => "width: 70px" %>
            </div>
          <% end %>
        </div>
      </div>
    </td>
    <td>

      <div class="select_box_wrapper" style="height: 156px; margin-top:4px; margin-right: -8px">
        <h3>Areas of interest</h3>
        <%= form_tag amend_aois_path(user), method: "post" do %>
          <table width="100%">
            <col width="50%">
            <col width="50%">
            <tr>
              <td>

                <div class="select_box_wrapper" style="height: 116px; border-width: 2px">
                  <h3>Your areas of interest</h3>

                  <div class="select_box_list" style="height: 60px">
                    <table>
                      <col width="50%">
                      <col width="50%">
                        <% user.areas.order(:name).each do |area| %>
                          <span style="white-space: nowrap;">
                            <%= check_box_tag 'checkremove'+ area.id.to_s %>
                            <%= area.name %>
                          </span>

                        <% end %>
                    </table>
                  </div>
                  <%= submit_tag "Remove area(s)", :class =>"small_button" %>
                </div>
              </td>

              <td>
                <div class="select_box_wrapper" style="height: 116px; border-width: 2px;" >
                  <h3 >Other possible areas</h3>
                  <div class="select_box_list" style="height: 60px">
                    <% Area.where(:group_id => user.groups.first.id).order(:name).all.each do |area| %>
                      <% if !user.areas.include?(area) %>
                        <span style="white-space: nowrap;">
                          <%= check_box_tag 'checkadd'+ area.id.to_s %>
                          <%= area.name %>
                        </span>
                      <% end %>
                    <% end %>
                  </div>
                  <%= submit_tag "Add area(s)", :class =>"small_button" %>
                </div>
              </td>
            </tr>
          </table>
        <% end %>
      </div>
    </td>
  </tr>
</table>




<div class="select_box_wrapper" style="margin-top: 4px">
  <h3>History</h3>

  <div class="select_box_list">
    <% if Capacitylog.where(:user_id => user.id).count > 0 %>
      <table width="80%" >
        <col width="20%">
        <col width="25%">
        <col width="20%">
        <col width="35%">
        <tr style="font-weight: bold">
          <td>
            Time / date
          </td>
          <td>
            Capacity
          </td>
          <td>
            Comments
          </td>
          <td>
            Absent
          </td>
        </tr>

        <% Capacitylog.where(:user_id => user.id).order(created_at: :desc).first(10).each do |log| %>
        <tr>
          <td>
            <%= log.created_at.strftime("%H:%M on %d %b %Y") %>
          </td>
          <td>
            <%= log.capacity_number %> - <%= log.text[0] %>
          </td>
          <td>
            <%= log.comment %>
          </td>
          <td>
            <% if !log.blank? and log.absent and !log.return_date.blank? %>
              Absent, returning <%= log.return_date.strftime("%H:%M on %d %b %Y") %>
            <% else %>
              Not absent
            <% end %>
          </td>
        </tr>

      <% end %>
      </table>
    </div>
  <% end %>
</div>
