  <%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table width="100%">
    <col width="15%">
    <col width="35%">
    <col width="15%">
    <col width="35%">
    <tr>
      <td>First name</td>
      <td><%= form.text_field :first_name, :class => "small_field"  %></td>
      <td>Last name</td>
      <td><%= form.text_field :last_name, :class => "small_field"  %></td>
    </tr>
    <tr>
      <td>User type</td>
      <td><%= form.select :user_type, ["Administrator", "Partner", "User"],{:include_blank => "None"}, {class: "small_field" , style: "width: 150px"}%></td>
      <td>Position</td>
      <td><%= form.text_field :position, :class => "small_field"  %></td>
    </tr>
    <tr>
      <td>Department</td>
      <td><%= form.select :department, options_for_select(Department.all.order(:name).map{|department| [department.name, department.id]}, user.department_id), {:include_blank => "None"}, {class: "small_field" , style: "width: 150px"}%></td>
      <td>Location</td>
      <td><%= form.select :location, options_for_select(Location.all.order(:name).map{|location| [location.name, location.id]}, user.location_id), {:include_blank => "None"}, {class: "small_field" , style: "width: 150px"}%></td>
    </tr>
    <tr>
      <td>Telephone</td>
      <td><%= form.text_field :telephone , :class => "small_field" %></td>
      <td>Email address</td>
      <td><%= form.text_field :email, :class => "small_field"  %></td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
        <%= form.submit "Update", :class => "small_button" %>
      </td>
    </tr>




  </table>




<% end %>
