<script type="text/javascript">

  function set_manager_checkbox(value) {
    if (value == "User") {
      document.getElementById("manager_checkbox").style.display = "none";
      document.getElementById("leaving_date").style.display = "table-row";
    } else  {
      document.getElementById("manager_checkbox").style.display = "block";
      document.getElementById("leaving_date").style.display = "none";
    }
    return true;
  }

  function no_leaving_date() {
    document.getElementById("leaving_date_field").value = 0;
    event.preventDefault();
  }


</script>

  <%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table width="100%">
    <col width="15%">
    <col width="35%">
    <col width="15%">
    <col width="35%">
    <tr>
      <td>First name</td>
      <td><%= form.text_field :first_name, :class => "small_field"  %></td>
      <td>Last name</td>
      <td><%= form.text_field :last_name, :class => "small_field"  %></td>
    </tr>
    <tr>
      <td>User type</td>
      <td>
        <div class="flex_row">
          <%= form.select :user_type, ["Administrator", "Observer", "User"],{:include_blank => "None"}, {class: "small_field" , style: "width: 150px", onchange: "set_manager_checkbox(this.value)" }%>
          <div id="manager_checkbox" style="height: 28px; margin-left:10px; border-radius: 10px; padding: 0px 20px 0px 20px; border: 3px solid blue; display: <%= user.is_user? ? "none" : "block" %>">Manager<%= form.check_box :is_manager, :style => "margin-left:10px; margin-top: 4px; height: 16px; width: 16px" %></div>
        </div>
      </td>
      <td>Position</td>
      <td><%= form.text_field :position, :class => "small_field"  %></td>
    </tr>
    <tr>
      <td>Department</td>
      <td><%= form.select :department, options_for_select(Department.all.order(:name).map{|department| [department.name, department.id]}, user.department_id), {:include_blank => "None"}, {class: "small_field" , style: "width: 150px"}%></td>
      <td>Location</td>
      <td><%= form.select :location, options_for_select(Location.all.order(:name).map{|location| [location.name, location.id]}, user.location_id), {:include_blank => "None"}, {class: "small_field" , style: "width: 150px"}%></td>
    </tr>
    <tr>
      <td>Telephone</td>
      <td><%= form.text_field :telephone , :class => "small_field" %></td>
      <td>Email address</td>
      <td><%= form.text_field :email, :class => "small_field"  %></td>
    </tr>


    <tr id="leaving_date" style="display: <%= !user.is_user? ? "none" : "table-row" %>">
      <td>
        Leaving date
      </td>
      <td>
        <%= form.date_field :leaving_date, :class => "small_field", :style => "width: 150px", :id => "leaving_date_field"  %>
        <button class="small_button" style="width: 80px" onclick="no_leaving_date()">None</button>
      </td>
    </tr>


    <tr>
      <td>
      </td>
      <td>
        <%= form.submit "Update", :class => "small_button" %>
      </td>
    </tr>




  </table>




<% end %>
