<h1>Editing user</h1>

<%= render 'form', user: @user %>

<table width="100%">
  <col width="50%">
  <col width="50%">
  <%= form_tag amend_user_groups_path(@user), method: "post" do %>
    <tr>
      <td>

        <div class="select_box_wrapper" style="height: 116px; border-width: 2px">
          <h3>Groups for this user</h3>

          <div class="select_box_list" style="height: 60px">
            <table>
              <col width="50%">
              <col width="50%">
                <% @user.groups.order(:name).each do |group| %>
                  <span style="white-space: nowrap;">
                    <%= check_box_tag 'checkremove'+ group.id.to_s %>
                    <%= group.name %>
                  </span>

                <% end %>
            </table>
          </div>
          <%= submit_tag "Remove group(s)", :class =>"small_button" %>
        </div>
        </td>

        <td>
        <div class="select_box_wrapper" style="height: 116px; border-width: 2px" >
          <h3 >Other groups</h3>
          <div class="select_box_list" style="height: 60px">
            <table>
              <col width="50%">
              <col width="50%">
              <% Group.order(:name).all.each do |group| %>
                <% if !@user.groups.include?(group) %>
                  <span style="white-space: nowrap;">
                    <%= check_box_tag 'checkadd'+ group.id.to_s %>
                    <%= group.name %>
                  </span>
                <% end %>
              <% end %>
            </table>
          </div>
          <%= submit_tag "Add group(s)", :class =>"small_button" %>
        </div>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
