<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.order(:last_name, :first_name).each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.user_type %></td>
        <td><%= user.position %></td>
        <td><%= user.location %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= form_tag upload_users_file_path, :multipart => true do  %>
  <span class="small_user" >
    <span style="font-size: 12pt; font-family: Arial; margin-right: 25px">
    Upload file of users
    </span>
    <span class="btn1 btn-large btn-warning btn-file">
      Choose file
      <%= file_field_tag :file %>
    </span>
  </span>
    <%= submit_tag "Upload",  {:class=>"standard_button", :style =>"width: 120px; margin-left: 10px"} %>
<% end %>

<%= link_to 'New User', new_user_path %>
