<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.order(:last_name, :first_name).each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.user_type %></td>
        <td><%= user.position %></td>
        <td><%= user.department_name %></td>
        <td><%= user.location_name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="flex_col" >

  <div class="flex_row" >
    <%= button_to 'New User', new_user_path, :method => :get, :class => "small_button" %>
    <%= button_to 'Passwords', passwords_path, :method => :get, :class => "small_button" %>
  </div>
  <div class="flex_row" >
    <%= form_tag upload_users_file_path, :multipart => true do  %>
      <%= render "file_tag", title: "Upload file", name: "users", tag: :file, class_name: "standard_button", height: 60, file_type: ".txt" %>
    <% end %>
  </div>
</div>
