<script>
  var check_users = [<%= get_all_ids(@users) %>];

  function check_users_on_off(v) {
    check_users.forEach (function(cb) {
      document.getElementById("check_user"+cb).checked = v;
    })
  }
</script>


<h1>Passwords</h1>
<%= render "homepage/groups", :width => "100%" %>

<%= form_tag make_passwords_path, method: "post" do %>
  <button class="small_button" type="button" onclick="check_users_on_off(true)" style="margin-left: 20px">All on</button>
  <button class="small_button" type="button" onclick="check_users_on_off(false)">All off</button>
  <%= submit_tag "Make passwords", :class=>"small_button" %>


  <table width="40%">
    <col width = "50%">
    <col width = "25%">
    <col width = "25%">

    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= check_box_tag 'check_user'+ user.id.to_s, "1", user.password_hash.blank? || user.password_hash == "" %></td>

      </tr>
    <% end %>
  </table>
<% end %>
