<%= form_with(model: area, local: true) do |form| %>
  <% if area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
      <% area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_tag  select_group_for_logged_in_user_path, id: "select_group" do %>
    Select group <%= select_tag :group, options_for_select(Group.all.order(:name).map{|group| [group.name, group.id]}, logged_in_user_helper.first_selected_group.id) , {:onchange => "select_group.submit();",  :class=>"small_button", :style => "width:150px;"} %>
  <% end %>

  <div class="flex_row" style="margin-top: 40px;">
    <%= form.label :name %>
    <%= form.text_field :name, :class => "small_button", :style => "text-align: left; width: 250px; padding-left:5px; margin-left: 40px;" %>
  </div>

  <div class="actions">
    <%= form.submit "Ok", :class=>"small_button" %>
  </div>
<<% end %>
