<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @capacitycode.text %>
</p>

<p>
  <strong>Number:</strong>
  <%= @capacitycode.number %>
</p>

<%= link_to 'Edit', edit_capacitycode_path(@capacitycode) %> |
<%= link_to 'Back', capacitycodes_path %>
